<p class="lead">
  <%= @poll.question %>
</p>

<dl class="dl-horizontal">
  <%= render @poll.items %>
</dl>

<%= link_to edit_poll_path(@poll), class: 'btn' do %>
    <i class="icon-pencil"></i> Edit
    <% end %>
<%= link_to poll_path(@poll), method: :delete, class: 'btn' do %>
    <i class="icon-remove"></i> Delete
<% end %>
